@import './_variables'
@import './_media'
@import '../Components/Main/Home'

body
    margin: 0

.map-container
    width: 80%
    height: 90%

.openNav
    margin-bottom: 0
    display: block
    flex-basis: 100%
    flex-grow: 1
    align-items: center
    width: 0%