
/* query vaiables */
$breakpoint-lg-tablet: 950px
$breakpoint-tablet: 768px
$breakpoint-mobile: 568px

/* media queries */
@media (max-width: $breakpoint-tablet)
    .bars
        display: block
    .navbar-nav
        display: none
    .brand
        font-size: 18px
    .launchCard-wrapper
        flex: 1 0 40%

@media (max-width: $breakpoint-mobile)
    .launchCard-wrapper
        flex: 1 0 80%
