@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&family=Roboto+Mono&family=Yellowtail&family=Alfa+Slab+One&display=swap')

/* global colors */
$primary-color: #141414

/* fonts */
$raleway: 'Raleway', sans-serif
$roboto-mono: 'Roboto Mono', monospace
$yellowtail: 'Yellowtail', cursive
$open-sans: 'Open Sans', sans-serif
$alfa-slab: 'Alfa Slab One', cursive
