@import '../../../sass/variables'
    
.navbar
    background-color: $primary-color
    top: 0
    left: 0
    position: fixed
    width: 100%

.navbar-nav
    list-style: none
    display: flex
    flex-direction: row
    
    