@import '../../../sass/variables'
    
.navbar
    background-color: $primary-color
    top: 0
    left: 0
    position: relative
    width: 100%
    height: 50px

.navbar-nav
    list-style: none
    display: flex
    flex-direction: row
    align-items: center

    
.brand
    text-decoration: none
    color: white
    font-size: 18px
    font-family: $raleway
    padding: 0px 5px 0px 5px
    margin: 0px 10px 0px 10px
    