@import '../../../sass/_variables'

.card-wrapper
    font-family: $raleway
    width: 80%
    padding: 1%
    margin: 3% auto 3% auto
    background-color: #fff
    border: #e7eeec 1px solid
    border-radius: 3px
    box-shadow: #b8c4c2 0px 4px 10px -4px
    transition: border 300ms ease-in-out 0s,box-shadow 300ms ease-in-out 0s

.stats-container
    font-family: $raleway

.img-container
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

.card-img
    padding: 10px
    margin: 5px
    height: 20%
    width: 30%
    background-color: #fff
    border: #e7eeec 1px solid
    border-radius: 3px
    box-shadow: #b8c4c2 0px 4px 10px -4px
    transition: border 300ms ease-in-out 0s,box-shadow 300ms ease-in-out 0s

